@import "../../styles/partials/fonts.scss";
@import "../../styles/partials/variables.scss";
@import "../../styles/partials/mixins.scss";

.login-wrapper {
    .login-form {
        &-wrapper {
            background-color: $app-white-color;
            border-radius: 4px;
            border: 1px solid $app-grey-light;            
            max-width: 400px;
            width: 100%;


            label {
                font-size: $app-font-size-md;
            }
        }

        &-body, &-footer {
            padding: 10px 20px;
        }
    }
}